@import url('css/reset.css');

:root {
    /* SYSTEM FONTS */
    --font: 'Roboto Slab', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --gray: #d5d5d5;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;
    --red: #ff3232;

    /* SIZING */
    --banner-w: 35vw;
    --form-w: 65vw;
    --max-w: 720px;
    --min-w: 320px;
}

a {
    text-decoration: none;
    color: var(--gray);
}

a:hover {
    color: var(--yellow);
}

body {
    background: var(--blue);
    color: var(--gray);
    font-family: var(--font);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-w), 1fr));
}

header {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--yellow);
    padding-bottom: 32px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 16px;
}

.cell {
    background: var(--yellow-lt);
    border-radius: 8px;
    aspect-ratio: 1 / 1.1;
    box-shadow: inset 0px -16px 1px 2px #00000055, 0 2px 2px #000;
    transition: background-color 0.5s ease;
}

.cell:hover {
    cursor: pointer;
    background: var(--white);
}

.down,
.down:hover {
    background: var(--gray);
    aspect-ratio: 1 / 0.975;
    box-shadow: inset 0px -4px 1px 2px #00000055, 0 2px 2px #000;
    margin-top: 12px;
    cursor: default;
    transition: background-color 0.5s ease;
    /* DISABLES CLICK EVENT: none or auto */
    pointer-events: none;
}

.play,
.play:hover {
    background-image: url('assets/mark-play.svg');
    background-repeat: no-repeat;
    background-position: center 22px;
}

.x,
.x:hover {
    background-image: url('assets/mark-x.svg');
    background-repeat: no-repeat;
    background-position: center 18px;
}

.o,
.o:hover {
    background-image: url('assets/mark-o.svg');
    background-repeat: no-repeat;
    background-position: center 12px;
}

.highlight-win {
    background-color: var(--green);
}

.highlight-lose {
    background-color: var(--red);
}

.noClick {
    /* DISABLES CLICK EVENT: none or auto */
    pointer-events: none;
}

.stats {
    margin: 0;
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
    padding: 16px 24px;
    border: 1px solid #000;
    box-shadow: inset 0px 4px 1px 2px #00000033;
    border-radius: 8px;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}

.stats em {
    color: var(--yellow);
}

.score {
    color: var(--yellow);
    font-weight: 700;
}

footer {
    margin: 0 auto;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    position: sticky;
    top: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

footer img {
    margin: 0 8px;
}
