@import url('css/reset.css');

:root {
    /* SYSTEM FONTS */
    --font: 'Roboto Slab', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --gray: #d5d5d5;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;
    --red: #ff3232;

    /* SIZING */
    --banner-w: 35vw;
    --form-w: 65vw;
    --max-w: 720px;
    --min-w: 320px;
}

a {
    text-decoration: none;
    color: var(--gray);
}

a:hover {
    color: var(--yellow);
}

body {
    background: var(--blue);
    color: var(--gray);
    font-family: var(--font);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-w), 1fr));
}

header {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--yellow);
    margin-bottom: 64px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 16px;
}

.cell {
    background: var(--yellow-lt);
    border-radius: 8px;
    aspect-ratio: 1 / 1.1;
    box-shadow: inset 0px -16px 1px 2px #00000055, 0 2px 2px #000;
}

.cell:hover {
    cursor: pointer;
    background: var(--white);
}

.down,
.down:hover {
    background: var(--gray);
    aspect-ratio: 1 / 0.975;
    box-shadow: inset 0px -4px 1px 2px #00000055, 0 2px 2px #000;
    margin-top: 12px;
    cursor: default;
}

.marked-x,
.marked-x:hover {
    background-image: url('assets/mark-x.svg');
    background-repeat: no-repeat;
    background-position: center 18px;
}

.marked-o,
.marked-o:hover {
    background-image: url('assets/mark-o.svg');
    background-repeat: no-repeat;
    background-position: center 12px;
}

footer {
    margin: 0 auto;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
    position: sticky;
    top: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

footer img {
    margin: 0 8px;
}
